<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout/layout}">
<head>
<title>LOGIN</title>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
 <div layout:fragment="content">
  <div id="wrap" class="back04">
   <div class="login_box">
	<div class="login_group">
	 <form method="post" action="/login-Proc">
	  <ul class="login_form">
	   <li class="form_box">
		<h2 class="id">아이디</h2>
		<input type="text" name="id" placeholder="ID를 입력하세요." />
	   </li>
	   <li class="form_box">
		<h2 class="pw">패스워드</h2>
		<input type="text" name="password" placeholder="비밀번호를 입력하세요."/>
	   </li>
	   <li>
		<button type="submit" class="btn_login">로그인</button>
	   </li>
	  </ul>
	 </form>
    </div>
   </div>
  </div>
 </div>
</body>
</html>